*
 #div1 {
    width: 1205px;
    height: 50px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    background-color: white;
  }
  
  body {
    background-color: rgb(137, 0, 241);
    border: 2px black;
  }